div > p {
    background: green;
    border-right: 2px solid;
    text-align: center;
    color:white;
    font-size: 20px;padding: 5px;
}

.owl-height {min-height: 500px; height:auto !important; height: 500px; }

.make-center {
    display: flex;
    align-items: center;
    justify-content: start;
}