<div>
    <div>
        {{images}}
    </div>

    <h3>SAMPLE IMAGE ITEM</h3>
    <owl-carousel #owlElement  
        [options]="{items: 3, dots: true, navigation: true, autoplay:true,  lazyLoad:true, onInitialized:init1,  onLoadLazy:lazyload1, onLoadedLazy:lazyload2}"
        [items]="items1"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        
        <div *ngFor="let iobj of imagesList1">
          <img src="assets/loader.gif" >  
          <img data-src="{{iobj.imgsrc}}" (load)="doSomething($event, iobj)" style="display: none"/>
        </div>
     </owl-carousel>


    

</div>
