<div>
    {{message}}

    <div>
        {{images}}
    </div>

    <!--
        <owl-carousel
            [options]="{items: 3, dots: false, navigation: false}"
            [items]="images"
            [carouselClasses]="['owl-theme', 'row', 'sliding']">
            <div class="item" *ngFor="let image of images; let i = index">
                <div class="thumbnail-image" [ngStyle]="{'background': 'url(abc.jpg) no-repeat scroll center center / 100px 100px'}"></div>
            </div>
        </owl-carousel>
    -->

    <h3>SAMPLE-NUMBER ITEM</h3>
    <owl-carousel #owlElement  
        [options]="{items: 3, dots: true, navigation: true, onInitialize:customFun}"
        [items]="items1"
        [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div *ngFor="let item of items1">
          <p>{{ item }}</p>
        </div>
     </owl-carousel>


    <h3>SAMPLE IMAGE ITEM</h3>
     <owl-carousel #owlElement  
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
        [items]="items1"
        [options]="{items: 3, dots: true, navigation: true, autoplay:true,  lazyLoad:true,  onLoadLazy:lazyload1, onLoadedLazy:lazyload2}">
        <div *ngFor="let img of images">
          <img  data-src="http://lorempixel.com/400/200/{{img}}"/>
        </div>
     </owl-carousel>

</div>
